<!-- <div class="container">
<h6><i>The Choice</i></h6>
</div> -->

<div class="container row">
  <!-- <div style="margin-top:25px"> -->
  <nav class="navbar navbar-expand text-black justify-content-center navbar-default">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <i><b><a class="nav-link " routerLink='./models'>MODELS</a></b></i>
      </li>
      <li class="nav-item">
        <i><b><a class="nav-link" routerLink="./price">PRICE</a></b></i>
      </li>
      <li class="nav-item">
        <i><b><a class="nav-link" routerLink="./book-test-ride">BOOK A TEST RIDE</a></b></i>
      </li>
      <li class="nav-item">
        <i><b><a class="nav-link" routerLink="./ac">ACCESSORIES</a></b></i>
      </li>
      <li class="nav-item">
        <i><b><a class="nav-link" routerLink="./download-brouchere">DOWNLOAD BROUCHERE</a></b></i>
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</div>
<router-outlet></router-outlet>