<div class="container">
    <h1><i>Book a Test Ride:</i></h1>
    <h3><i>Fill Details:</i></h3>
    <form [formGroup]="customer" novalidate>
        {{crud|json}}
        <div class="row">
            <div class="form-group">
                name:<input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                email:<input type="text" class="form-control" formControlName="email">
            </div>
           
        </div>
        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="PostHttpData2(customer.value)">Submit</button>
                <button type="reset" class="btn btn-warning">reset</button>
            </div>
        </div>
    </form>
</div>


<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">About us</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Products</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Awards</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Help</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Contact</a>
                </h6>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://vespa.in"> Vespa.in</a>
    </div>
</footer>